@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<CryptoNews>

<h1>Crypto News</h1>

<div class="news-container">
    @foreach (var news in Model)
    {
        <div class="news-item">
            <h2>@news.Title</h2>
            <p>@news.Source</p>
            <a href="@news.Url">Read More</a>
        </div>
    }
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.news-item').addClass('shadow p-3 mb-5 bg-white rounded');
        });
    </script>
}



@*
<div> News </div>
<div> Excange</div>
<div>Learn</div>
<div>Quizz</div>
*@